<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <!-- <script src="./views.js"></script> -->
    <link rel="stylesheet" href="../css//services.css">
    <!-- iCONS Font awesone -->
     <script src="https://kit.fontawesome.com/41a389fdb6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="Container_Services">
        <div class="Container_Search_Services">
            <p class="title">Servicios</p>
            <div class="Search">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input 
                type="search"
                id="services_search"
                placeholder="Que empresa necesitas?"
            >
            </div>

        </div>
        <!-- Categories -->
        <div class="Container_Grid__Categories">
        <p class="subtitle">
            <i class="fa-solid fa-border-all icon-subtitle"></i>
            Categorías
        </p>
        <div id="categoriesGrid" class="Container_Grid__Modals__Categories__Grid"></div>
        </div>

    </div>
    </div>
    <script src="./views.js"></script>
</body>
</html>